* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* setting to 1.6rem be equals to 16px */
  /* 1 rem equals to 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font-family);
  font-size: 2rem;
  color: var(--primary-color);
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--secondary-font-family);
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
}

h2 {
  font-size: 6rem;
  margin-bottom: 6rem;
  text-transform: uppercase;
  line-height: 1.2;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4.5rem;
}

h5 {
  font-size: 4rem;
}

h6 {
  font-size: 3.5rem;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 3rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 36rem;
}

table th, tfoot td {
  background-color: var(--light-gray-collor);
}

table td, table th {
  text-align: left;
  white-space: nowrap;
  padding: 0.5rem;
  border: 0.1rem solid var(--light-gray-collor);
}

table caption {
  font-style: italic;
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 1rem;
}
