@import url('./variables.css');
@import url('./elements-default.css');

.main-bg {
  background-image: url('./../img/main-bg.svg');
  background-size: cover;
  background-position: center center;
  color: var(--white-color)
}

.white-bg {
  background-color: #fff;
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: var(--gap);
}

.section {
  min-height: 100vh;
}

.menu {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 0.1rem solid var(--light-gray-collor);
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.menu h1 {
  font-size: 2.3rem;
  color: var(--primary-color);
}

.menu h1 a {
  color: inherit;
}

.menu ul {
  display: flex;
}

.menu ul li a {
  display: block;
  padding: 2rem;
  font-size: 1.8rem;
  color: var(--primary-color);
  position: relative;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  width: 0;
  height: 0.2rem;
  background-color: var(--primary-color);
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 100%;
}