@import url('./variables.css');
@import url('./elements-default.css');

.main-bg {
  background-image: url('./../img/main-bg.svg');
  background-size: cover;
  background-position: center center;
  color: var(--white-color)
}

.white-bg {
  background-color: #fff;
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: 8rem var(--gap);
}

.section {
  min-height: 100vh;
}

.menu {
  position: fixed;
  z-index: 1;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 0.1rem solid var(--light-gray-collor);
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.menu h1 {
  font-size: 2.3rem;
  color: var(--primary-color);
}

.menu h1 a {
  color: inherit;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li a {
  display: block;
  padding: 2rem;
  font-size: 1.8rem;
  color: var(--primary-color);
  position: relative;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  width: 0;
  min-height: 0.2rem;
  background-color: var(--primary-color);
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 100%;
}

.menu-spacing {
  min-height: 6.5rem;
}

.intro-content {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  min-height: 100vh;
  gap: var(--gap);
}

.intro-text-content, .intro-img {
  position: relative;
  top: -6.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.intro-img img{
  max-width: 100%;
  min-height: auto;
}

.top3-content {
  min-height: 100vh;
  max-width: 64rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
}

.grid-one-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-main-heading {
  margin-bottom: 1rem;
}

.grid-description {
  padding-bottom: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  counter-reset: grid-counter;
}

.grid h3 {
  font-size: 3rem;
  position: relative;
  padding-left: 5rem;
  padding-bottom: 2rem;
}

.grid h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 6rem;
  font-style: italic;
  top: -3rem;
  left: 0;
  transform: rotate(5deg);
}

.gallery-img {
  width: 100%;
  max-width: 36rem;
  max-height: 36rem;
  overflow: hidden;
}

.gallery-img img {
  transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
  transform: rotateZ(10deg) translate(-3%, 3%) scale(1.2);
}

.responsive-table {
  overflow: hidden;
  overflow-x: auto;
}

.contact-form {
  grid-column: span 2;
}

.contact-form fieldset {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
}

.contact-form legend {
  font-size: 1.6rem;
  font-style: italic;
  margin-bottom: 2rem;
}

.form-group {
  flex: 1 1 32rem;
}

.form-group label {
  display: block;
}

.form-group input,
.form-group textarea {
  border: none;
  background-color: var(--white-color);
  padding: 1.5rem 2rem;
  width: 100%;
  font-size: 1.6rem;
}

.form-group ::placeholder {
  color: var(--light-gray-collor);
}

div.full-width {
  flex: 1 1 100%;
  width: 100%;
}

.form-group button {
  border: 0.5rem solid var(--white-color);
  background: none;
  color: var(--white-color);
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  text-transform: capitalize;
  cursor: pointer;
}

.form-group button:hover {
  border: 0.5rem solid var(--primary-color);
  background-color: var(--white-color);
  color: var(--primary-color);
}

.footer {
  text-align: center;
  font-size: 1.6rem;
}

.footer p {
  margin: 0;
  padding: 3rem;
}

.footer a {
  color: var(--primary-color);
}

.heart {
  color: red;
}

.close-menu {
  display: none;
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--white-color);
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--primary-color);
  border: 0.2rem solid var(--primary-color);
}

@media (max-width: 800px) {
  .intro-content, 
  .grid {
    grid-template-columns: 1fr;
  }

  #contact .intro-img {
    display: none;
  }

  .gallery-img {
    width: 100%;
    max-width: 100%;
    max-height: auto;
  }

  .gallery-img img {
    width: 100%;
  }

  .grid-one-content {
    display: block;
  }

  .menu {
    bottom: 0;
    display: none;
  }

  .menu-content {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  .menu-content ul { 
    flex-direction: column;
    justify-content: center;
  }

  .close-menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
  }

  .close-menu-label::after {
    position: fixed;
    z-index: 3;
    top: 1rem;
    right: 1rem;
    content: '☰';
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 3rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0.4rem;
    cursor: pointer;
  }

  .close-menu:checked~.menu {
    display: block;
  }
  
  .close-menu:checked~.close-menu-label::after {
    content: '×';
  }

  .menu-spacing {
    display: none;
  }
}