@import url('./variables.css');
@import url('./elements-default.css');

.main-bg {
  background-image: url('./../img/main-bg.svg');
  background-size: cover;
  background-position: center center;
  color: var(--white-color)
}

.white-bg {
  background-color: #fff;
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: 8rem var(--gap);
}

.section {
  min-height: 100vh;
}

.menu {
  position: fixed;
  z-index: 1;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 0.1rem solid var(--light-gray-collor);
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.menu h1 {
  font-size: 2.3rem;
  color: var(--primary-color);
}

.menu h1 a {
  color: inherit;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li a {
  display: block;
  padding: 2rem;
  font-size: 1.8rem;
  color: var(--primary-color);
  position: relative;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  width: 0;
  min-height: 0.2rem;
  background-color: var(--primary-color);
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 100%;
}

.menu-spacing {
  min-height: 6.5rem;
}

.intro-content {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  min-height: 100vh;
  gap: var(--gap);
}

.intro-text-content, .intro-img {
  position: relative;
  top: -6.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.intro-img img{
  max-width: 100%;
  min-height: auto;
}

.top3-content {
  min-height: 100vh;
  max-width: 64rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
}

.grid-one-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-main-heading {
  margin-bottom: 1rem;
}

.grid-description {
  padding-bottom: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  counter-reset: grid-counter;
}

.grid h3 {
  font-size: 3rem;
  position: relative;
  padding-left: 5rem;
  padding-bottom: 2rem;
}

.grid h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 6rem;
  font-style: italic;
  top: -3rem;
  left: 0;
  transform: rotate(5deg);
}