@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; 
*/

:root {
  --primary-color: #0a1128;
  --white-color: #FFF;
  --light-gray-collor: #EEE;
  --gap: 3rem;
  --primary-font-family: 'Open Sans', sans-serif;
  --secondary-font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* setting to 1.6rem be equals to 16px */
  /* 1 rem equals to 10px */
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font-family);
  font-size: 2rem;
  color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--secondary-font-family);
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
}

h2 {
  font-size: 5.5rem;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4.5rem;
}

h5 {
  font-size: 4rem;
}

h6 {
  font-size: 3.5rem;
}

a {
  text-decoration: none;
}

.main-bg {
  background-image: url('./../img/main-bg.svg');
  background-size: cover;
  background-position: center center;
  color: var(--white-color)
}

.white-bg {
  background-color: #fff;
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--gap);
}

.section {
  min-height: 100vh;
}

.menu {
  background-color: var(--white-color);
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 0.1rem solid var(--light-gray-collor);
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.menu h1 {
  font-size: 2.3rem;
  color: var(--primary-color);
}

.menu h1 a {
  color: inherit;
}

.menu ul {
  display: flex;
}

.menu ul li a {
  display: block;
  padding: 2rem;
  font-size: 1.8rem;
  color: var(--primary-color);
  position: relative;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  width: 0;
  height: 0.2rem;
  background-color: var(--primary-color);
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 100%;
}